# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Buildings_Placer.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\jacob\Documents\gameEngineProjects\Unity Projects\Buildings_Placer\.idea\.idea.Buildings_Placer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
